<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="n4ServiceSoap" />
                <binding name="n4ServiceSoap1" />
                <binding name="n4ServiceSoap2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://cgdes19:5252/EcuapassActivo/n4service.asmx"
                binding="basicHttpBinding" bindingConfiguration="n4ServiceSoap"
                contract="ServicioIIE.n4ServiceSoap" name="n4ServiceSoap" />
            <endpoint address="http://cgdes13:57575/SER_GATE/n4Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="n4ServiceSoap1"
                contract="ServicioPesaje.n4ServiceSoap" name="n4ServiceSoap1" />
            <endpoint address="http://172.16.2.30:5020/nws/N4Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="n4ServiceSoap2"
                contract="ServicioImdt.n4ServiceSoap" name="n4ServiceSoap2" />
        </client>
    </system.serviceModel>
</configuration>