USE [OnlyAccess]
GO
/****** Object:  StoredProcedure [dbo].[RECEPTIO_OBTENER_TAG]    Script Date: 14/6/2018 15:44:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RECEPTIO_OBTENER_TAG]
( 
	@Placa VARCHAR(10)
)
AS
BEGIN
  SELECT top 1 PP_TARJETA
  FROM [OnlyAccess].[dbo].[AC_MAESTRO_CVP1]
  WHERE PP_PLACA = @Placa
  ORDER BY PP_ID DESC
END