<?xml version="1.0"?>
<!--<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="UserNameServicio" value="MID_KIOSCO"/>
    <add key="PasswordServicio" value="Contecon2015!"/>
    <add key="scopeCoordinateIds" value="ICT/ECU/GYE/CGSA"/>
    <add key="RutaLog" value="C:\CGSA\Logs"/>
    <add key="NombreArchivoLog" value="LogServicioTransactionDepot"/>
    <add key="UrlServicioN4" value="http://192.168.0.101:10080/apex/services/argoservice"/>
    <add key ="EVENTO_FACTURA_OPCACIFIC" value ="TRASLADO_CNTRS_CISE"/>
  </appSettings>

<system.web>
    <compilation targetFramework="4.7.1" debug="true"/>
    <httpRuntime targetFramework="4.7.1"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="n4ServiceSoap"/>
        <binding name="BasicHttpBinding_IServicioAnuncianteProblema"/>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="BindingConfigurationDebug" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <services>
      <service name="RECEPTIO.CapaServiciosDistribuidos.TransactionDepot.Servicios.ServicioTransactionDepot" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="BindingConfigurationDebug" contract="RECEPTIO.CapaServiciosDistribuidos.TransactionDepot.Servicios.IServicioTransactionDepot"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <client>
      <endpoint address="http://cgint04:50502/WS_ECUAPASSActivo/n4service.asmx" binding="basicHttpBinding" bindingConfiguration="n4ServiceSoap" contract="ServicioAduana.n4ServiceSoap" name="n4ServiceSoap"/>
      <endpoint address="http://cgint04:50502/WS_RECEPTIOAnuncianteProblema/ServicioAnuncianteProblema.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioAnuncianteProblema" contract="ServicioAnuncianteProblema.IServicioAnuncianteProblema" name="BasicHttpBinding_IServicioAnuncianteProblema"/>
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="ModeloReceptioContainer" connectionString="metadata=res://*/Modelo.ModeloReceptio.csdl|res://*/Modelo.ModeloReceptio.ssdl|res://*/Modelo.ModeloReceptio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cgdes12;initial catalog=RECEPTIO;persist security info=True;user id=receptio_user;password=CGSA_2018_gates;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>


<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="UserNameServicio" value="MID_KIOSCO"/>
    <add key="PasswordServicio" value="Contecon2015!"/>
    <add key="scopeCoordinateIds" value="ICT/ECU/GYE/CGSA"/>
    <add key="RutaLog" value="C:\CGSA\Logs"/>
    <add key="NombreArchivoLog" value="LogServicioTransactionDepot"/>
    <add key="UrlServicioN4" value="http://192.168.0.101:10080/apex/services/argoservice"/>
    <add key="EVENTO_FACTURA_OPCACIFIC" value="TRASLADO_CNTRS_CISE"/>
  </appSettings>
 
  <system.web>
    <compilation targetFramework="4.7.1" debug="true"/>
    <httpRuntime targetFramework="4.7.1"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="n4ServiceSoap"/>
        <binding name="BasicHttpBinding_IServicioAnuncianteProblema"/>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="BindingConfigurationDebug" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <services>
      <service name="RECEPTIO.CapaServiciosDistribuidos.TransactionDepot.Servicios.ServicioTransactionDepot" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="BindingConfigurationDebug" contract="RECEPTIO.CapaServiciosDistribuidos.TransactionDepot.Servicios.IServicioTransactionDepot"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <client>
      <endpoint address="http://cgint04:50502/WS_ECUAPASSActivo/n4service.asmx" binding="basicHttpBinding" bindingConfiguration="n4ServiceSoap" contract="ServicioAduana.n4ServiceSoap" name="n4ServiceSoap"/>
      <endpoint address="http://cgint04:50502/WS_RECEPTIOAnuncianteProblema/ServicioAnuncianteProblema.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioAnuncianteProblema" contract="ServicioAnuncianteProblema.IServicioAnuncianteProblema" name="BasicHttpBinding_IServicioAnuncianteProblema"/>
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="ModeloReceptioContainer" connectionString="metadata=res://*/Modelo.ModeloReceptio.csdl|res://*/Modelo.ModeloReceptio.ssdl|res://*/Modelo.ModeloReceptio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cgndb05;initial catalog=RECEPTIO;persist security info=True;user id=receptio_user;password=CGSA_2018_gates;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
-->

<!--<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="UserNameServicio" value="MID_KIOSCO"/>
    <add key="PasswordServicio" value="Contecon2015!"/>
    <add key="scopeCoordinateIds" value="ICT/ECU/GYE/CGSA"/>
    <add key="RutaLog" value="C:\CGSA\Logs"/>
    <add key="NombreArchivoLog" value="LogServicioTransactionDepot"/>
    <add key="UrlServicioN4" value="http://192.168.0.101:10080/apex/services/argoservice"/>
    <add key ="EVENTO_FACTURA_OPCACIFIC" value ="TRASLADO_CNTRS_CISE"/>
  </appSettings>-->
<!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
<!--<system.web>
    <compilation targetFramework="4.7.1" debug="true"/>
    <httpRuntime targetFramework="4.7.1"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="n4ServiceSoap"/>
        <binding name="BasicHttpBinding_IServicioAnuncianteProblema"/>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="BindingConfigurationDebug" receiveTimeout="00:05:00" sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <services>
      <service name="RECEPTIO.CapaServiciosDistribuidos.TransactionDepot.Servicios.ServicioTransactionDepot" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="BindingConfigurationDebug" contract="RECEPTIO.CapaServiciosDistribuidos.TransactionDepot.Servicios.IServicioTransactionDepot"/>
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <client>
      <endpoint address="http://cgint04:50502/WS_ECUAPASSActivo/n4service.asmx" binding="basicHttpBinding" bindingConfiguration="n4ServiceSoap" contract="ServicioAduana.n4ServiceSoap" name="n4ServiceSoap"/>
      <endpoint address="http://cgint04:50502/WS_RECEPTIOAnuncianteProblema/ServicioAnuncianteProblema.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioAnuncianteProblema" contract="ServicioAnuncianteProblema.IServicioAnuncianteProblema" name="BasicHttpBinding_IServicioAnuncianteProblema"/>
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="ModeloReceptioContainer" connectionString="metadata=res://*/Modelo.ModeloReceptio.csdl|res://*/Modelo.ModeloReceptio.ssdl|res://*/Modelo.ModeloReceptio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cgndb05;initial catalog=RECEPTIO;persist security info=True;user id=receptio_user;password=CGSA_2018_gates;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>-->




<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="UserNameServicio" value="MID_KIOSCO" />
    <add key="PasswordServicio" value="Contecon2015!" />
    <add key="scopeCoordinateIds" value="ICT/ECU/GYE/CGSA" />
    <add key="RutaLog" value="C:\CGSA\Logs" />
    <add key="NombreArchivoLog" value="LogServicioTransactionDepot" />
    <add key="UrlServicioN4" value="http://172.16.2.3:10080/apex/services/argoservice" />
    <add key ="EVENTO_FACTURA_OPCACIFIC" value ="TRASLADO_CNTRS_CISE"/>
    <add key="UserNameServicio" value="MID_KIOSCO" />
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1" />
  </system.web>



  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="n4ServiceSoap" />
        <binding name="BasicHttpBinding_IServicioAnuncianteProblema" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="BindingConfigurationDebug" receiveTimeout="00:05:00"
          sendTimeout="00:05:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          messageEncoding="Mtom">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <reliableSession enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <services>
      <service name="RECEPTIO.CapaServiciosDistribuidos.TransactionDepot.Servicios.ServicioTransactionDepot" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="BindingConfigurationDebug" contract="RECEPTIO.CapaServiciosDistribuidos.TransactionDepot.Servicios.IServicioTransactionDepot" />
      </service>
    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <client>
      <endpoint address="http://cgdes19:5252/EcuapassActivo/n4service.asmx"
        binding="basicHttpBinding" bindingConfiguration="n4ServiceSoap"
        contract="ServicioAduana.n4ServiceSoap" name="n4ServiceSoap" />
      <endpoint address="http://cgdes19:1700/ServicioAnunciante/ServicioAnuncianteProblema.svc"
                 binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioAnuncianteProblema"
                 contract="ServicioAnuncianteProblema.IServicioAnuncianteProblema"
                 name="BasicHttpBinding_IServicioAnuncianteProblema" />
    </client>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>

  <connectionStrings>
    <add name="ModeloReceptioContainer" connectionString="metadata=res://*/Modelo.ModeloReceptio.csdl|res://*/Modelo.ModeloReceptio.ssdl|res://*/Modelo.ModeloReceptio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cgdes12;initial catalog=RECEPTIO;persist security info=True;user id=n4;password=n4test;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>