<?xml version="1.0" encoding="utf-8" ?>

<objects xmlns="http://www.springframework.net"
         xmlns:db="http://www.springframework.net/database"
         xmlns:tx="http://www.springframework.net/tx"
         xmlns:aop="http://www.springframework.net/aop">

  <object id="throwsException"
        type="RECEPTIO.CapaServiciosDistribuidos.Mobile.Servicios.Aspectos.ThrowsException, RECEPTIO.CapaServiciosDistribuidos.Mobile.Servicios">
  </object>

  <object id="AdministradorError" type="Spring.Aop.Framework.ProxyFactoryObject">
    <property name="Target">
      <object type="RECEPTIO.CapaDominio.Nucleo.ServiciosDominio.Entidades.ServicioError, RECEPTIO.CapaDominio.Nucleo.ServiciosDominio">
        <constructor-arg ref="Repositorio"/>
      </object>
    </property>
    <property name="InterceptorNames">
      <list>
        <value>throwsException</value>
      </list>
    </property>
  </object>

  <object name ="Repositorio" type="RECEPTIO.CapaInfraestructura.Nucleo.Infraestructura.RepositorioError, RECEPTIO.CapaInfraestructura.Nucleo.Infraestructura"/>
</objects>
