<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="EVENTO_FACTURA_OPCACIFIC" value ="TRASLADO_CNTRS_CISE"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="n4ServiceSoap" />
                <binding name="BasicHttpBinding_IServicioAnuncianteProblema" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.16.2.13:5252/EcuapassActivo/n4service.asmx"
                binding="basicHttpBinding" bindingConfiguration="n4ServiceSoap"
                contract="ServicioAduana.n4ServiceSoap" name="n4ServiceSoap" />
            <endpoint address="http://172.16.2.13:1700/ServicioAnunciante/ServicioAnuncianteProblema.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioAnuncianteProblema"
                contract="ServicioAnuncianteProblema.IServicioAnuncianteProblema"
                name="BasicHttpBinding_IServicioAnuncianteProblema" />
        </client>
    </system.serviceModel>
</configuration>