<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="UserNameServicio" value="MID_KIOSCO" />
    <add key="PasswordServicio" value="Contecon2015!" />
    <add key="scopeCoordinateIds" value="ICT/ECU/GYE/CGSA" />
    <add key="RutaLog" value="C:\CGSA\Logs" />
    <add key="NombreArchivoLog" value="LogServicioMobile" />
    <add key="UrlServicioN4" value="http://172.16.2.3:10080/apex/services/argoservice" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BindingConfigurationDebug" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="RECEPTIO.CapaServiciosDistribuidos.Mobile.Servicios.ServicioMobile" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BindingConfigurationDebug" contract="RECEPTIO.CapaServiciosDistribuidos.Mobile.Servicios.IServicioMobile" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <connectionStrings>
    <add name="ModeloReceptioContainer" connectionString="metadata=res://*/Modelo.ModeloReceptio.csdl|res://*/Modelo.ModeloReceptio.ssdl|res://*/Modelo.ModeloReceptio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cgdes12;initial catalog=RECEPTIO;persist security info=True;user id=n4;password=n4test;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>