<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>

  <appSettings>
    <add key="RutaLog" value="C:\CGSA\Logs" />
    <add key="NombreArchivoLog" value="LogTransactionEmpty" />
    <add key="RutaArchivosPdf" value="\\cgfsr01\Receptio" />
    <add key="ValidarImpresora" value="0"/>
  </appSettings>
  
    <system.serviceModel>
        <services>
          <service name="TransactionEmpty.ViewModels.VentanaPrincipalViewModel">
            <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BindingConfigurationDebug"
            contract="RECEPTIO.CapaPresentacion.UI.MVVM.IContrato">
            </endpoint>
            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:17101/ServicioTransactionQuiosco/"/>
              </baseAddresses>
            </host>
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
          </service>
        </services>
        <behaviors>
          <serviceBehaviors>
            <behavior name="">
              <serviceMetadata httpGetEnabled="true" />
              <serviceDebug includeExceptionDetailInFaults="true" />
            </behavior>
          </serviceBehaviors>
        </behaviors>
        <bindings>
            <basicHttpBinding>
              <binding name="BindingConfigurationDebug" maxBufferPoolSize="2147483647"
                  maxReceivedMessageSize="2147483647">
                <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                    maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
              </binding>
                <binding name="BasicHttpBinding_IServicioAnuncianteProblema" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IServicioTransactionEmpty" messageEncoding="Mtom" sendTimeout="00:05:00" receiveTimeout="00:05:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
          <endpoint address="http://cgdes13:1700/ServicioAnunciante/ServicioAnuncianteProblema.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioAnuncianteProblema"
              contract="ServicioAnuncianteProblema.IServicioAnuncianteProblema"
              name="BasicHttpBinding_IServicioAnuncianteProblema" />
          <endpoint address="http://cgdes13:1700/TransactionEmpty/ServicioTransactionEmpty.svc"
              binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServicioTransactionEmpty"
              contract="ServicioTransactionEmpty.IServicioTransactionEmpty"
              name="WSHttpBinding_IServicioTransactionEmpty" />
        </client>
    </system.serviceModel>
</configuration>