<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="n4ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.16.2.30:5020/nws/N4Service.asmx"
          binding="basicHttpBinding" bindingConfiguration="n4ServiceSoap"
          contract="ServicioAduana.n4ServiceSoap" name="n4ServiceSoap" />
    </client>
  </system.serviceModel>

  <appSettings>
    <add key="scopeCoordinateIds" value="ICT/ECU/GYE/CGSA" />
  </appSettings>
</configuration>