<?xml version="1.0" encoding="utf-8" ?>

<objects xmlns="http://www.springframework.net"
         xmlns:db="http://www.springframework.net/database"
         xmlns:tx="http://www.springframework.net/tx"
         xmlns:aop="http://www.springframework.net/aop">

  <object id="throwsException"
        type="RECEPTIO.CapaServiciosDistribuidos.Transaction.Servicios.Aspectos.ThrowsException, RECEPTIO.CapaServiciosDistribuidos.Transaction.Servicios">
  </object>

  <object id="AdministradorTag" type="Spring.Aop.Framework.ProxyFactoryObject">
    <property name="Target">
      <object type="RECEPTIO.CapaDominio.Transaction.ServiciosDominio.ServicioTag, RECEPTIO.CapaDominio.Transaction.ServiciosDominio">
        <constructor-arg ref="RepositorioTag"/>
      </object>
    </property>
    <property name="InterceptorNames">
      <list>
        <value>throwsException</value>
      </list>
    </property>
  </object>

  <object name ="RepositorioTag" type="RECEPTIO.CapaInfraestructura.Transaction.SqlEntityFramework.Repositorios.RepositorioTag, RECEPTIO.CapaInfraestructura.Transaction.SqlEntityFramework"/>
</objects>
