<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Dominio" value="cgsa.corp/DC=CGSA,DC=corp" />
    <add key="Filtro" value="sAMAccountName" />
    <add key="Grupo" value="CN=CGSA-General,OU=Dominio,OU=Grupos_Distribucion,OU=Grupos,DC=cgsa,DC=corp" />
  </appSettings>
</configuration>