<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="scopeCoordinateIds" value="ICT/ECU/GYE/CGSA" />
    <add key="CantidaPesoReferencial" value="40" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="n4ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://cgdes13:5020/WS_EcuapassActivo/n4Service.asmx"
          binding="basicHttpBinding" bindingConfiguration="n4ServiceSoap"
          contract="ServicioIIE.n4ServiceSoap" name="n4ServiceSoap" />
      <endpoint address="http://cgdes13:57575/SER_GATE/n4Service.asmx"
          binding="basicHttpBinding" bindingConfiguration="n4ServiceSoap"
          contract="ServicioPesaje.n4ServiceSoap" name="n4ServiceSoap" />
      <endpoint address="http://172.16.2.30:5020/nws/N4Service.asmx"
          binding="basicHttpBinding" bindingConfiguration="n4ServiceSoap"
          contract="ServicioImdt.n4ServiceSoap" name="n4ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>