<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="PuertoRFID" value="2" />
    <add key="VelocidadRFID" value="9600" />
    <add key="TamanoBufferRFID" value="17" />
    <add key="PuertoBarrera" value="1" />
    <add key="RutaLog" value="C:\CGSA\Logs" />
    <add key="NombreArchivoLog" value="LogTransaction" />
    <add key="RutaArchivosPdf" value="\\cgfsr01\Receptio" />
    <add key="EsVisibleSensores" value="1" />
    <add key="ValidarSensorAltura" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ValidarImpresora" value="0"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="Transaction.ViewModels.VentanaPrincipalViewModel">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BindingConfigurationDebug" contract="RECEPTIO.CapaPresentacion.UI.MVVM.IContrato">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:17101/ServicioTransactionQuiosco/" />
          </baseAddresses>
        </host>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BindingConfigurationDebug" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IServicioAnuncianteProblema" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IServicioTransaction" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Mtom">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.84:50502/WS_RECEPTIOAnuncianteProblema/ServicioAnuncianteProblema.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioAnuncianteProblema" contract="ServicioAnuncianteProblema.IServicioAnuncianteProblema" name="BasicHttpBinding_IServicioAnuncianteProblema" />
      <endpoint address="http://192.168.0.84:50502/WS_RECEPTIOTransaction/ServicioTransaction.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServicioTransaction" contract="ServicioTransaction.IServicioTransaction" name="WSHttpBinding_IServicioTransaction" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>