<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>

  <appSettings>
    <add key="PuertoRFID" value="COM1" />
    <add key="VelocidadRFID" value="9600" />
    <add key="TamanoBufferRFID" value="17" />
    <add key="PuertoBarrera" value="1" />
    <add key="RutaLog" value="C:\CGSA\Logs" />
    <add key="NombreArchivoLog" value="LogTransaction" />
    <add key="RutaArchivosPdf" value="\\cgfsr01\desarrollo\Stalin" />
    <add key="EsVisibleSensores" value="1" />
    <add key="ValidarSensorAltura" value="1" />
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="Transaction.ViewModels.VentanaPrincipalViewModel">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BindingConfigurationDebug"
          contract="Transaction.Servicio.IContrato">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:17105/ServicioTransactionQuiosco/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BindingConfigurationDebug" maxBufferPoolSize="2147483647"
            maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="BasicHttpBinding_IServicioAnuncianteProblema" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IServicioTransaction" messageEncoding="Mtom">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://cgdes13:1700/ServicioAnunciante/ServicioAnuncianteProblema.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioAnuncianteProblema"
          contract="ServicioAnuncianteProblema.IServicioAnuncianteProblema"
          name="BasicHttpBinding_IServicioAnuncianteProblema" />
      <endpoint address="http://cgdes13:8080/Transaction.Servicios/ServicioTransaction.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServicioTransaction"
          contract="ServicioTransaction.IServicioTransaction" name="WSHttpBinding_IServicioTransaction" />
    </client>
  </system.serviceModel>
</configuration>