<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="bill" connectionString="Data Source=cgdes11;Initial Catalog=N5;User ID=n4;Password=n4test;Connection Timeout=0" providerName="System.Data.SqlClient" />
    <add name="midle" connectionString="Data Source=CGDES12;Initial Catalog=N4Middleware;Persist Security Info=True;User ID=n4;Password=n4test;Connection Timeout=1200" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="PuertoRFID" value="2" />
  </appSettings>
</configuration>
