<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="midle" connectionString="Data Source=CGDES12;Initial Catalog=N4Middleware;Persist Security Info=True;User ID=n4;Password=n4test;Connection Timeout=120" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
