<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="midle" connectionString="Data Source=CGDES12;Initial Catalog=N4Middleware;Persist Security Info=True;User ID=n4;Password=n4test;Connection Timeout=120" providerName="System.Data.SqlClient" />
    <!-- Connection string used to fetch extended information like driver and company names -->
    <add name="n4catalog" connectionString="data source=cgdes12;initial catalog=RECEPTIO;persist security info=True;user id=n4;password=n4test;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
